<h1><%= @name %></h1>
<h4><%= @brews.origin %></h4>
<h4><%= @brews.notes %></h4>
<h4><%= @brews.strength %></h4>
 <% @brews.purchases.each do |customer|  %>
  <%= customer.customer_name %><br>
 <% end %>
