<p>
  Your total was: <%= @total_price %>
</p>

<p> Your suggested 10% is: <%= @total_price  * 0.10 %> </p>
<p> Your suggested 15% is: <%= @total_price  * 0.15 %> </p>
<p> Your suggested 20% is: <%= @total_price  * 0.20 %> </p>
<p> Your suggested 25% is: <%= @total_price  * 0.25 %> </p>
<p> Your suggested 30% is: <%= @total_price  * 0.30 %> </p>
<p> Your suggested 35% is: <%= @total_price  * 0.35 %> </p>
